.productpage .pc1 {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.productpage .pc1 .c11 {
    width: 30%;
    justify-content: flex-start;
    display: flex;
}