.productpage .pc1 {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.productpage .pc1 .c11 {
    display: flex;
    justify-content: flex-start;
    width: 45%;
}

.productpage .pc1 .c11 .imgset {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.productpage .pc1 .c11 .imgset img {
    width: 30%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.productpage .pc1 .c11 .imgset .active {
    border: 3px solid var(--col1);
    width: 30%;
}

.productpage .pc1 .c11 .imgbig {
    width: 70%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}


.productpage .pc1 .c12 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.productpage .pc1 .c12 .c12_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}