.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer .footerin1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.footer .footerin1 .f1 img {
    width: 160px;
    height: 150px;
    margin-bottom: 10px;
}